form{
    display: flex;
    flex-direction: column;
    max-width: 300px;
    justify-content: center;
    align-items: center;
    border: 1px solid cadetblue;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 2px 2px 4px #ccc;
    width: 200px;
    height: 200px;
    margin:100px auto;
}

input{
    max-width: 300px;
    margin: 10px;
    padding: 5px;
    outline: none;
    border-radius: 5px;
    border: 1px solid cadetblue;
}

button{
    background: cadetblue;
    border: none;
    border-radius: 5px;
    padding: 3px;
    max-width: 300px;
}